<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860814800544-9lit9snb9soj7b7gauq9fvd9qdo0so1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860814800544-9lit9snb9soj7b7gauq9fvd9qdo0so1n</string>
	<key>API_KEY</key>
	<string>AIzaSyAnQw4TqHi3_UKAf8xVp-YugFhzhCOI6P0</string>
	<key>GCM_SENDER_ID</key>
	<string>860814800544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monmouth.css337.1134010.HawksPark</string>
	<key>PROJECT_ID</key>
	<string>hawkspark-98e53</string>
	<key>STORAGE_BUCKET</key>
	<string>hawkspark-98e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860814800544:ios:d930fc16107ca0c5273bc5</string>
	<key>DATABASE_URL</key>
	<string>https://hawkspark-98e53.firebaseio.com</string>
</dict>
</plist>